<!DOCTYPE html>
<html lang="vi">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

		<title>Smart Admin Platform - Quản trị thông minh</title>
		<meta name="description" content="Nền tảng quản trị thông minh, quản lý nhân sự, đào tạo và tài chính hiệu quả." />
		<meta name="keywords" content="Smart Admin Platform, Quản trị thông minh, Trực tuyến, Đào tạo, Quản lý nhân sự" />

		<meta property="og:title" content="Smart Admin Platform" />
		<meta
			property="og:description"
			content="Nền tảng quản trị thông minh, quản lý nhân sự, đào tạo và tài chính hiệu quả."
		/>
		<meta property="og:image" content="<%= context.config.publicPath + 'metadata.png' %>" />
		<meta property="og:type" content="website" />

		<link rel="icon" href="<%= context.config.publicPath +'favicon.ico'%>" type="image/x-icon" />

		<style>
			:root {
				--primary-color: var(--ant-primary-color);
				--primary-1: var(--ant-primary-1);
			}
		</style>
	</head>

	<body>
		<noscript>Xin lỗi, chúng tôi cần trình duyệt của bạn chạy Javascript</noscript>
		<div id="root"></div>
	</body>
</html>
